
      <div >
        <div class="item item-image" style="border-width: 0px; border-style: none;">
            <img  ng-src="{{'img/'+ curItemClick.image +'.jpg'}}" style="width: 40%" />
        </div>
        <div class="text-center">
            <p style="color: black;font-weight: bold; font-size: 16px; margin-bottom:0px;" >{{curItemClick.name}}</p>
            <p style="color: dimgray; font-size: 16px">{{curItemClick.price| currency:"":0}}đ</p>
            <h3>Mô tả</h3>
        </div>
        
        <div style="word-wrap: break-word;">
            {{curItemClick.description}}
        </div>
        
      </div>
