<ion-view style="" class=" " id="page11" title="Thông báo ">
    <ion-content class="has-header" padding="true">
        <ion-list>
          <ion-item ng-repeat="item in nors" class="itemNor"> 
              <div class="card icon-left">
                <div class="row notifyContainer">
                    <p style="white-space: normal; margin: 10px; font-size:12px !important; font-size: 15px; font-weight: bold;">Chương trình tri ân khách hàng nhân dịp cuối năm, nhập mã: TRIANKHACHANG để được giảm 50k với một đơn hàng, không giới hạn đơn hàng. Xin cảm ơn quý khách</p>        
                </div>
            </div>
          </ion-item>
      </ion-list>
      
    </ion-content>
</ion-view>