<ion-view style="" class=" " id="page9" title="Chi tiết đơn hàng">
    <ion-content class="has-header" padding="true">
      <div class="row text-center">
        <div class = "col">
          <p style="color: blueviolet; font-size: 16px;">Tổng:
          <strong> {{curOrder.Total| currency:"":0}}đ</strong>
        </p>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider item-icon-right" ng-click = "headerInfoClick()">
          <i class="icon" ng-class="{'ion-ios-arrow-right':headerField,'ion-ios-arrow-down':!headerField}"></i>
          Thông tin đặt hàng
        </div>
        <ion-list ng-show="!headerInfo">
            <ion-item class = "item-remove-animate item-icon-left" >
                <p>Tên: {{curOrder.Name}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <p>Sđt: {{curOrder.PhoneNumber}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>   
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <p>Đ/c: {{curOrder.Address}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <p>Ghi chú: {{curOrder.Note}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <div class="row">
          </div>
        </ion-list>
     </div>
      <div ng-repeat="detail in curOrder.OrderDetails track by $index"   >
        <div class="list card" >
          <div class="item item-body" >
            <div class= "row">
                <div class= "col col-40">
                  <img ng-src="{{'img/'+ detail.Item.image+'.jpg'}}" width="80%" height="auto" style="box-shadow: none;">
                </div>
               <div class= "col" >
                  <p style="color: gray; font-size: 12px;margin-bottom: 0px;margin-top: 10px;">Tên<strong> {{detail.Item.name}}</strong></p>
                  <p style="color: gray; font-size: 12px;margin-bottom: 0px;margin-top: 0px;">Giá: <strong>{{detail.Item.price| currency:"":0}}đ/Kg</strong></strong></p>
                  <p style="color: gray; font-size: 12px;margin-bottom: 0px;margin-top: 0px;">Loại bao <strong>{{detail.kilogramType}} Kg</strong></p>
                </div>
						</div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
